.searchbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px 0 0 6px;
  outline: none;
  width: 500px; 

}

.search-button {
  padding: 0.4rem 0.8rem;
  margin-left: 8px;
  background-color: #f1f8fc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  width: 150px;
  
}


.search-button:hover {
  background-color: #f1f8fc;
  transform: scale(3s);
  transition: transform 1s ease;
}
